<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      User Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>
      Open Requests
  </ion-title>
  <ion-list>
    <ion-card  *ngFor="let request of currentUserRequests | async" >
      <ion-card-content>
        <ion-card-title>
          {{request.title}}
        </ion-card-title>
        <p>
          Created by: <b>{{ request.creatorName }}</b>
        </p>
        <p>
          <ion-icon name="time"></ion-icon> <b>{{request.duration}} hours</b>
        </p>
        <p>
          {{request.description}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-title>
    Open Responses
  </ion-title>
  <ion-list>
    <ion-card  *ngFor="let response of currentUserResponses | async" >
      <ion-card-content>
        <ion-card-title>
          {{response.request}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-title>
    Current User
  </ion-title>
  <p>UID: {{ (currentUser | async)?.uid }}</p>
  <p>Name: {{ (currentUserMetadata | async)?.displayName }}</p>
  <p>Organization: {{ (currentUserMetadata | async)?.org }}</p>
  <p>Credits: {{ (currentUserMetadata | async)?.credits }}</p>    
      
  <button ion-button block color="danger" (click)="logoutUser()">
    Logout
  </button>


</ion-content>
